<!doctype html>

<html>
<meta name="viewport" content="width=device-width, user-scalable=false;">
<head>
	<title>AutoPi - %Current_Action%</title>
	<link rel="stylesheet" src="css/core.css" />
	<script type="text/javascript" src="js/core.js"></script>
</head>

<body>



	<div class="wrapper" id="main">
	<!-- 
	 Garage 


	 -->
		<section>
			
			<button>Status</button>
			<button>Garage</button>
			<button>Lights</button>
			<button>GPIO</button>
			<button>Administration</button>



		</section>


	</div>

	<footer>&copy; burningvagina.info</footer>

</body>

<script type="text/javascript">
	window.onload = function(){
		// do on load shit here

	}
</script>
</html>