<!doctype html>

<html>
<meta name="viewport" content="width=device-width">
<head>
	<title>AutoPi - %Current_Action%</title>
	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script> -->
	<script>window.jQuery || document.write('<script src="../js/jquery-1.10.1.min.js"><\/script>')</script>
	<script type="text/javascript" src="../js/core.js"></script>

	<link rel="stylesheet" type="text/css" href="../css/core.css" />

</head>

<body>

	<div class="wrapper" id="main">
	<!-- 
	 Garage 


	 -->
		<nav>
			
			<button>Status</button>
			<button>Garage</button>
			<button>Lights</button>
			<button>GPIO</button>
			<button>Administration</button>
			<button class="toggle">Toggle Button<div class="on">ON</div></button>
			<button class="toggle">Toggle Button<div class="off">OFF</div></button>
			
		</nav>


	</div>

	<footer>&copy; burningvagina.info</footer>



</body>



<script type="text/javascript">
	


</script>
</html>